doctype html
html(lang="en")
  head 
    title Cookies Page 
    meta(charset="utf-8")
  body
    h1 Cookies
    img(src="../images/cookies.img")
    h3 Description 
    p These chocolate oatmeal cookies are packed with energizing ingredients and please even a finicky teenager!
    h4 Ingredients
    ul 
      li  1 cup all-purpose flour
      li 3 tablespoons unsweetened cocoa powder
      li 1 teaspoon baking powder
      li ½ teaspoon baking soda
      li ½ teaspoon salt
      li ½ teaspoon ground cinnamon
      li ½ cup margarine
      li ½ cup brown sugar
      li ½ cup white sugar
      li 1 large egg
      li 1 teaspoon vanilla extract
      li 1 ¼ cups rolled oats
      li ½ cup semisweet chocolate chips 
    h4 Steps
    ol 
      li Preheat the oven to 350 degrees F (175 degrees C). Grease cookie sheets.
      li Stir flour, cocoa, baking powder, baking soda, salt, and cinnamon together in a large bowl; set aside.
      li Beat margarine, brown sugar, and white sugar together in a large bowl with an electric mixer until light and fluffy. Beat in egg and vanilla. Stir in flour mixture using a wooden spoon. Mix in oats and chocolate chips. Drop spoonfuls of dough 2 inches apart onto the prepared cookie sheets.
      li Bake in the preheated oven until edges are golden, about 8 to 10 minutes. Cool on the baking sheet briefly before removing to a wire rack to cool completely.