doctype html
html(lang="en")
  head 
    title Odin Recipes Page 
    meta(charset="utf-8")
  body
    h1 Odin Recipes
    h2 
      a(href="recipes/lasagna.html") Lasagna
    h2
      a(href="recipes/cookies.html") Cookies
